.modalContent{
        margin-top: 15%;
}
.submitButton{
    margin-top: 10%;
}
.styles_closeButton__20ID4{
    top: 5px !important;
    right: 5px !important;
}
.styles_modal__gNwvD{
    border-radius: 5px;
        width: 30%;
}
